@layer utilities {
  @keyframes shine {
    0% { background-position: 0% 50%; }
    100% { background-position: 100% 50%; }
  }

  @keyframes shimmer {
    0% { transform: translateX(-100%); }
    100% { transform: translateX(100%); }
  }

  .animate-shimmer {
    animation: shimmer 2s infinite;
  }

  .animate-gradient {
    background-size: 200% auto;
    animation: shine 5s ease-in-out infinite alternate;
  }

  .text-gradient-shine {
    background: linear-gradient(
      to right,
      theme(colors.primary.DEFAULT) 20%,
      theme(colors.secondary.DEFAULT) 30%,
      theme(colors.primary.DEFAULT) 70%
    );
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
    background-size: 500% auto;
    animation: shine 5s ease-in-out infinite alternate;
  }
}